<h1>Longest Word Game</h1>

<h2>Efim Shliamin</h2>  

<!-- <p>Find me in app/views/games/new.html.erb</p> -->



<div class="letters">
  <% @letters.each do |element| %>
    <p class="letter"><%= element %></p>
  <% end %>
</div>



<form action="/score" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <%= hidden_field_tag :letters, @letters.join(' ') %>
  <input type="text" name="longest_word" placeholder="What is the longest word?">
  <input type="submit">
</form>


