// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.letter{
  background: #3598dc;
  color: white;
  padding: 15px;
  width: 10px;
  height: 10px;
  border: 1px;
  margin: 5px;
  text-align: justify;
  border-color: black;
  border-style: solid;
  font-size: 29;
  text-shadow: 25px gray;
}

.letters{
  display: flex;
}
